html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
li{
	list-style: none;
}
a{
	color: #000;
	text-decoration: none;
}




@font-face {
    font-family: Montserrat; 
    src: url(montserrat/Montserrat-Black.otf); 
    font-weight: 900;
 }
 @font-face {
    font-family: Montserrat; 
    src: url(montserrat/Montserrat-Regular.otf); 
 		font-weight: 400;
 }



html{
	font-family: Montserrat;
	font-weight: 400;
}
body{
	height: 10vh;
	padding-left: 50px; 
	/*background: url('background.jpg') no-repeat;*/
	background-size: cover;
	background-position: 50px 0;
	
}
main img{
	width: 96.3%;
	position: absolute;
	top: 0;
	left: 50px;
	z-index: -1;
	overflow: hidden;
}
.aside-btn{
	position: fixed;
	left: 5px;
	bottom: 0;
}
.intersctive-text p{
	position: fixed;
	left: 5px;
	top: 0;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 900;
	display: block;
	width: 500px;
	height: 22px;
	transform: translateX(-228px) translateY(280px) rotateZ(-90deg);
	text-align: center;
	transition-delay: 1s;
	transition:  1s;
}

.chang{
	color: #b3b3b3;
	font-weight: 400;

}
.chang2{
	color: #000;
	font-weight: 900;

}

.logo{
	position: relative;
	display: inline-block;
	width: 45%;
}
.logo h1{
	margin: 50px;
	font-size: 40px;
}
.navigation{
	display: inline-block;
	width: 54%;
	font-size: 22px;
}
.navigation ul{
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
}
.navigation li{
	display: inline-block;
}
.navigation li a{
	display: block;
	line-height: 30px;
	width: 100px;
	text-align: center;
	transition: .2s;
}
.navigation li a:hover {
	color: #fff;
	background: black;
	border-radius: 30px;
}
.btn{
	height: 70vh;
	display: flex;
	flex-direction: row wrap;
	justify-content: center;
	align-items: flex-end;
	text-transform: uppercase;

}
.btn a{
	width: 15%;
	display: block;
	line-height: 30px;
	padding: 5px 15px;
	text-align: center;
	transition: .2s;
	color: #fff;
	background: black;
	border-radius: 30px;
	box-shadow: 0 20px 10px rgba(0,0,0,.5);
	border: 1px solid #000;
	transition: .5s;
}
.btn a:hover{
	color: #222;
	background: #fff;
	font-weight: 900;
}

